<div class="container" id="scrollHere">

    {{!--Nav bar--}}
    {{!-- <nav class="navbar navbar-expand-lg">
        <button onclick={{action "showNavToggle"}} class="navbar-toggler {{if showNavBarMob 'clicked'}}" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon nti__first"></span>
            <span class="navbar-toggler-icon hiddenOnClck"></span>
            <span class="navbar-toggler-icon nti__second"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end {{if showNavBarMob 'show'}}" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    {{#link-to "about" class="nav-link"}}
                        About
                    {{/link-to}}
                </li>
                <li class="nav-item">
                    {{#link-to "works" class="nav-link"}}
                        My works
                    {{/link-to}}
                </li>
            </ul>
        </div>
    </nav> --}}
    {{!--Nav bar--}}

    <div class="header-content">
        <h1 class="display-4">Aravinth Ramesh</h1>
        <div class="lead-wrapper">
            <div class="lead" active={{leadCountOne}} onclick={{action 'leadClick' 'leadCountOne'}}>Front-end developer</div>
            <div class="lead" active={{leadCountTwo}} onclick={{action 'leadClick' 'leadCountTwo'}}>Photographer by passion</div>
            <div class="lead" active={{leadCountThree}} onclick={{action 'leadClick' 'leadCountThree'}}>Travel enthusiast</div>
        </div>
        <div class="lead-sub-header">
            {{#if leadCountOne }}
            Any doubts? I made this website from scratch
            {{else if leadCountTwo}}
            I own a Canon EOS 1500d and I take awesome photos
            {{else if leadCountThree}}
            I travel a lot and love to write about them
            {{/if}}
        </div>
    </div>
    
</div>