<div class="row">
    {{#each imageList as |imageName index| }}
    <div class="col-sm-4 col-12 grid-col">
        <div onclick={{action "openModal" imageName.first}} class="image-wrapper">
             <img class="img-fluid border" src="/assets/images/{{imageName.first}}">
        </div>
        <div onclick={{action "openModal" imageName.second}} class="image-wrapper">
            <img class="img-fluid border" src="/assets/images/{{imageName.second}}">
        </div>
        <div onclick={{action "openModal" imageName.third}} class="image-wrapper">
            <img class="img-fluid border" src="/assets/images/{{imageName.third}}">
        </div>
        <div onclick={{action "openModal" imageName.fourth}} class="image-wrapper">
            <img class="img-fluid border" src="/assets/images/{{imageName.fourth}}">
        </div>
        <div onclick={{action "openModal" imageName.fifth}} class="image-wrapper">
            <img class="img-fluid border" src="/assets/images/{{imageName.fifth}}">
        </div>
        <div onclick={{action "openModal" imageName.sixth}} class="image-wrapper">
            <img class="img-fluid border" src="/assets/images/{{imageName.sixth}}">
        </div>
        <div onclick={{action "openModal" imageName.seventh}} class="image-wrapper">
            <img class="img-fluid border" src="/assets/images/{{imageName.seventh}}">
        </div>
    </div>
    {{/each}}
</div>
{{#if isModalOpen}}
    <div class="modalBackdrop" id="modalImageContainer">
        <span onclick={{action "closeModal"}}>Close</span>
    </div>
{{/if}}